<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Squeak</title>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Squeak!</h5>
        <form id="signin-form" class="form-inline mt-2 mt-md-0">
            <input type="text" class="form-control mr-sm-2" id="signin-username" placeholder="Username" required>
            <input type="password" class="form-control mr-sm-2" id="signin-password" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <div class="invalid-feedback signin-error"></div>
        </form>
    </div>

    <div class="container">
        <div class="row mt-5 offset-4 col-8">
            <h2>Sign up to Squeak !</h2>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Sign Up</h3>
                    <form id="signup-form">

                        <div class="form-group">
                            <label for="signup-username">Username</label>
                            <input type="text" class="form-control" id="signup-username" required>
                            <div class="invalid-feedback invalid-feedback-username"></div>

                        </div>
                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input type="password" class="form-control" id="signup-password" required>
                            <div class="invalid-feedback invalid-feedback-password"></div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>